body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #121212;
  color: #e0e0e0;
}

.header-nav {
  display: flex;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
  gap: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.nav--logo {
  max-width: 80px;
}

@media (max-width: 768px) {
  .nav--logo {
    max-width: 60px;
  }
}

h1 {
  color: #f5c518;
  font-size: 2rem;
  margin-right: auto;
  font-weight: 700;
  flex: 1;
}

.search-bar {
  margin-left: auto;
  margin-right: 100px;
  max-width: 250px;
  flex: 0 1 auto;
}

.search-bar input {
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid #444;
  background-color: #333;
  color: #fff;
  outline: none;
}

.search-bar input::placeholder {
  color: #bbb;
}

.search-bar input:focus {
  border-color: #f5c518;
}
